{% extends 'base.html.twig' %}

{% block title %}Edit Assignment{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Assignment</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Update Assignment</button>
        {{ form_end(form) }}

        <a href="{{ path('assignment_index') }}"  class="btn btn-primary">Back to Assignment List</a>
    </div>
{% endblock %}
